/* src/app/pages/dashboard/dashboard.css */

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Fait en sorte que le dashboard prenne tout l'espace vertical restant */
}

.dashboard-layout {
  display: flex;
  flex-grow: 1; /* Fait en sorte que le layout interne prenne toute la hauteur du :host */
  width: 100%;
  background-color: #f4f7fa;
}

.dashboard-main-content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}


/* Pour les petits écrans, on pourrait ajuster la mise en page */
@media (max-width: 768px) {
  .dashboard-layout {
    flex-direction: column;
  }
  .dashboard-main-content {
    padding: 1rem;
  }
}
